<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me_4vr.menuapp.mapper.MenuMapper">
    <select id="getAllMainMenu" resultType="me_4vr.menuapp.entity.Menu">
        SELECT * FROM TBL_MENU m where m.prnt_id is null
    </select>

    <select id="findMenuById" resultType="me_4vr.menuapp.entity.Menu">
        SELECT * FROM TBL_MENU m where id = #{id}
    </select>
</mapper>